/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css?lang=en&family=Product+Sans|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese');

.cardContainer {
  width           : 100%;
  text-align      : left;
  margin-top      : 65px;
  margin          : 0 auto;
  background-color: white;
  padding         : 1.3rem 0.9rem;
  position        : relative;
  transition      : all .3s ease-in-out;
}

.cardContainer {
  overflow       : hidden;
  display        : flex;
  justify-content: center;
  flex-wrap      : wrap;
  gap            : 10px;
  text-align     : left;
  margin-top     : 65px;
  padding        : 1.3rem 0.9rem;
}

.card {
  background-color            : rgb(255, 255, 255);
  /* word-break               : break-all; */
  word-break                  : break-word;
  flex-grow                   : 1;
  border                      : 1px solid rgb(189, 189, 189);
  border-radius               : 13px;
  padding                     : .5rem;
  cursor                      : pointer;
  /* width                    : 100%; */
  color                       : inherit;
  /* width                    : 37%; */
  white-space                 : pre-wrap;
  transition                  : all .2s ease-in-out;
  width                       : 35%;
  /* width                    :50%; */
  /* height                   : 70%; */
  /* width                    :50%; */
  /* width                    :210px; */
  /* position                 : relative; */
  /* transform                : translate(0px,0px); */
}

.card {
  /* transition      : all .4s ease-in-out;
  transform       : translate(0px, 0px); */

  /* background-color: #fff;
  word-break      : break-word;
  flex-grow       : 1;
  border          : 1px solid #bdbdbd;
  padding         : .5rem;
  cursor          : pointer;
  width           : 100%;
  color           : inherit;
  width           : 37%;
  white-space     : pre-wrap; */

  /* transition: all 1s ease-in-out; */
  /* transform: scale(1); */
  /* position: relative; */
  opacity      : 1;
  /* transition: width 400ms ease , height 400ms ease , left cubic-bezier(0.4, 0, 0.2, 1) 420ms , top cubic-bezier(0.4, 0, 0.2, 1) 420ms; */
}

.card:focus-visible {
  outline       : 2px solid var(--main-color);
  outline-offset: 2px;
}

.active {
  /* background-color: green ; */
  /* width:100%; */
  /* max-width: 500px; */
  /* height:100vh; */
  /* position: fixed; */
  opacity               : 0;
  /* scale              : 2; */
  /* position           : relative;
  top                   :0;
  left                  :0; */
  /* transform          : translate(50%,50%); */
  /* transform-origin   : center  ; */
  /* transform-origin   : 50% 10%; */
  /* -webkit-line-clamp : unset;
  word-break            : normal;
white-space             : pre-wrap;
height                  : 100vh;
position                : fixed;
inset                   : 0;
margin                  : 0 auto;
z-index                 : 20000;
border                  :none; */
  /* width              : 100vw; */
  /* max-width          : 500px; */
}

.positioned {
  top : 0;
  left: 0;
}

/* .card.active { */
/* transform: scale(1.5); */
/* opacity            : 0; */
/* background-color: red; */

/* transition: all 1s ease;
  transition-delay: 1s; */
/* animation: fadein 1s ease-in-out; */

/* } */

/* .card.inactive { */
/* transition: all .2s ease;
  transform: scale(1); */
/* background-color: red; */
/* transition: all 1s ease;
  transition-delay: 1s; */
/* animation: fadein 1s ease-in-out; */

/* } */

/* @keyframes fadein {
  0%{
    background-color: white;
  }
  100%{
    background-color: rgb(216, 9, 9);
  }
} */
.card.active p {
  /* -webkit-line-clamp : unset;
  overflow           : auto;
  display            : -webkit-box;
  -webkit-box-orient : vertical;
  text-overflow      : ellipsis; */
}

.cardTitle {
  display       : flex;
  flex          : 1;
  border-bottom : 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom : 10px;
  font-weight   : 500;
  font-family   : "Google Sans", Roboto, Arial, sans-serif;
  /* font-family: 'Open Sans',
sans-serif; */
  /* font-family:Roboto,sans-serif; */
}

.card p {
  -webkit-line-clamp   : 6;
  overflow             : hidden;
  display              : -webkit-box;
  -webkit-box-orient   : vertical;
  text-overflow        : ellipsis;
  font-family          : Roboto, Arial, sans-serif;
  color                : #4a4a4a;
  color                : #414141;
  font-size            : 19px;
  /* white-space       : normal; */
}

.header>button {
  width           : 25px;
  height          : 25px;
  display         : flex;
  justify-content : center;
  align-items     : center;
  border          : 0;
  border-radius   : 100px;
  padding         : 3px;
  background-color: transparent;
}

.header>button:hover {
  background-color: #F0F0F0;
}

.header>button:focus {
  background-color: #F0F0F0;
}

.header>button:active {
  background-color: #F0F0F0;
}

.uncheck {
  background-color: transparent;
  scale           : 1.3;
  color           : rgb(202, 202, 202);
  color           : rgb(187, 187, 187);
}

.check {
  color           : green;
  background-color: rgb(59, 223, 59);
  background-color: rgb(97, 245, 97);
  /* outline      : 1px solid green !important; */
}

/* @media (hover: hover) and (pointer: fine) {
  .item {
    opacity: 0;
  }

  .card:hover .item {
    opacity: 1;
  }
} */

.viewContainer {
  /* visibility         : hidden;
  transform-origin   : 0 0;
  transition         : all .2s ease-in-out , opacity .4s ease-out;
  opacity            : 0; */


  /* position        : fixed;
  top                : 0;
bottom               : 0; */
  /* left            :0; */
  /* height          : 100vh;
max-height           : 100%; */
  /* height          : stretch;
  height             : -webkit-fill-available; */
  /* height          : -webkit-fill-available;
  height             : fill-available; */
  /* height          : 100vh; */
  /* height          : 87vh; */
  /* height          : 100vh; */
  /* height          :100dvh; */
  display               : flex;
  flex-direction        : column;
  text-align            : left;
  background-color      : rgb(255, 255, 255);
  /* background-color   : rgb(136, 85, 85); */
  max-width             : 500px;
  width                 : 100vw;
  min-height            : -webkit-fill-available;
  inset                 : 0;
  margin                : 0 auto;
  /* position           : fixed; */
  /* z-index            : 100000; */
  transform             : translateX(500px);
  transition            : all .4s ease-in-out, width 0s;
  /* right              : -1000px; */
  /* right              : 5rem ; */
  z-index               : 100000;
}

.animateView {
  transform: translateX(0px);
  right    : 0;
}

.textarea {
  overflow: hidden;
  resize  : none;
}

.titleView:focus,
.textView:focus {
  outline: none;
}

.titleSpan,
.textSpan {
  position      : absolute;
  user-select   : none;
  pointer-events: none;

}

.header {
  display: flex;
  gap    : 10px;
}

.action {
  z-index         : 100;
  position        : absolute;
  display         : flex;
  flex-direction  : column;
  gap             : 6px;
  width           : 40%;
  transform-origin: top;
}

.action>button {
  padding            : 8px;
  background-color   : white;
  font-size          : 1rem;
  border             : 0;
  border-radius      : 10px;
  /* box-shadow      : 0 0 10px rgb(235, 235, 235); */
  box-shadow         : 0 0 8px 1px rgb(159 159 159 / 32%);
  transition         : all .19s ease-in-out;
}

.action>button:hover {
  padding         : 8px;
  background-color: rgb(221, 221, 221);
}

.action>button:active {
  background-color: rgb(91 231 145);
}

.action>button {
  display    : flex;
  gap        : 5px;
  align-items: center;
  width      : 100%;
}

.deletBtn {
  background-color: red !important;
  background-color: red !important;
  color           : white;
}

.deletBtn:hover {
  background-color: rgb(255, 77, 77) !important;
}

.deletBtn:is(:active, :disabled) {
  background-color: rgb(255, 127, 127) !important;
  opacity         : 1 !important;
}

.titleSpan {
  font-size: 1.3em;
}

.viewHeader {
  padding        : 0 1.3rem;
  height         : 70px;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  border-bottom  : 2px solid #efefef;
}

.backBtn {
  cursor          : pointer;
  display         : flex;
  align-items     : center;
  width           : 30px;
  height          : 30px;
  background-color: red;
  scale           : 1.5;
  color           : #232323;
}

.addBtn {
  cursor     : pointer;
  display    : flex;
  align-items: center;
  width      : 30px;
  scale      : 1.5;
  color      : #232323;
}

.backBtn>svg {
  flex: 1;
}

.animateNotes {
  transform: translateX(-500px);
}

.viewContent {
  overflow: auto;
  padding : 25px 1.3rem;
  height  : calc(100% - 44px);
}

.viewContent>h3 {
  font-weight  : 500;
  margin-bottom: 0.7rem;
}

.edit {
  position : fixed;
  overflow : hidden;
  width    : 100vw;
  max-width: 500px;
  height   : 100%;
  z-index  : 100000;
}