@import url("https://fonts.googleapis.com/css?lang=en&family=Product+Sans|Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,500&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");

.cardContainer {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease-in-out, margin 0.2s ease-in-out, padding 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: left;
  padding: 1.3rem 0.9rem;
  padding-top: 20px;
  margin-top: 65px;
  &.selecting {
    margin-top: calc(65px + 44px);
    padding-top: 7px;
  }
}

.selectAll {
  display: block;
  background-color: transparent;
  color: var(--text-black);
  border: 0;
  transition: margin 0.2s ease-in-out;
  text-align: right;
  padding: 0.5rem 0.9rem;
  position: fixed;
  z-index: 1000;
  background-color: var(--light-card);
  max-width: var(--max-width);
  width: 100vw;
  outline: 0;
  pointer-events: none;
  opacity: 0;
  margin-top: 45px;
  font-size: 1rem;
  &.selecting {
    opacity: 1;
    pointer-events: auto;
    margin-top: 70px;
  }
}

.selectAll:focus-visible {
  outline: 0;
}

.card {
  width: 35%;
  opacity: 1;
  flex-grow: 1;
  padding: 0.5rem;
  color: inherit;
  cursor: pointer;
  overflow: hidden;
  border-radius: 13px;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: var(--light-card);
  border: 1px solid var(--card-border);
  transition: all 0.2s ease-in-out, background-color 0s;
}

/* .card .header button:not(.uncheck, .check) {
  opacity: 0;
} */
@media (hover: hover) and (pointer: fine) {
  .card .header button:not(.uncheck, .check) {
    opacity: 0;
  }

  .card:is(.selected) button {
    opacity: 1;
  }

  .card:hover .header button:not(:active) {
    opacity: 1;
  }
}

.card.selected {
  outline: 2px solid var(--bright-green);
  border-radius: 141px 10% 25% 10px;
}

.card:focus-visible {
  outline: 2px solid var(--main-color) !important;
  outline-offset: 2px;
}

.card.active {
  opacity: 0;
}
.cardTitle {
  display: flex;
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
}

.card p:not(.date) {
  -webkit-line-clamp: 6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-family: Roboto, Arial, sans-serif;
  color: var(--text-secondary);
  font-size: 19px;
}

.header > button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 100px;
  padding: 3px;
  background-color: transparent;
  font-size: 1rem;
  &:not(.check) {
    color: var(--text-black);
  }

  &:hover {
    background-color: var(--light-btn-hover);
  }

  &:active {
    background-color: var(--light-btn-active) !important;
    opacity: 0.5 !important;
  }
}

.uncheck {
  background-color: transparent;
  scale: 1.3;
  color: rgb(202, 202, 202);
  color: rgb(187, 187, 187);
}

.check {
  color: var(--bright-green);
  background-color: rgb(59, 223, 59);
  background-color: rgb(97, 245, 97);
}

.viewContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--light-card);
  color: var(--text-black);
  max-width: var(--max-width);
  width: 100vw;
  min-height: -webkit-fill-available;
  margin: 0 auto;
  transform: translateX(var(--max-width));
  transition: all 0.4s ease-in-out, width 0s;
  z-index: 100000;
  opacity: 0;
  visibility: hidden;
  pointer-events: initial;
  margin: 0 auto;
  &.loading {
    pointer-events: none;
  }

  &.active {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
  }
}

.textarea {
  overflow: hidden;
  resize: none;
}

.titleView:focus,
.textView:focus {
  outline: none;
}

.titleSpan,
.textSpan {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.header {
  display: flex;
  gap: 10px;
}

.action {
  gap: 6px;
  width: 40%;
  z-index: 100;
  display: flex;
  cursor: initial;
  position: absolute;
  transform-origin: top;
  flex-direction: column;
  pointer-events: initial;
  &.loading {
    cursor: wait;
  }
  &:is(.loading) button {
    pointer-events: none !important;
  }
}

.action > button {
  gap: 5px;
  border: 0;
  width: 100%;
  padding: 8px;
  display: flex;
  font-size: 1rem;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 8px 1px rgb(159 159 159 / 32%);
  transition: all 0.19s ease-in-out;
  font-size: 1.2rem;
  &:hover {
    padding: 8px;
    background-color: rgb(221, 221, 221);
  }

  &:active {
    background-color: rgb(91 231 145);
    scale: 0.9;
  }
}
.deletBtn {
  background-color: red !important;
  background-color: red !important;
  color: white;
  &:hover {
    background-color: rgb(255, 77, 77) !important;
  }
  &:is(:active, :disabled) {
    background-color: rgb(255, 127, 127) !important;
    opacity: 1 !important;
  }
  &:disabled {
    pointer-events: none !important;
  }
}

.titleSpan {
  font-size: 1.3em;
}

.viewHeader {
  padding: 0 1.3rem;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-light);
}

.backBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: red;
  scale: 1.5;
  color: var(--text-black);
}

.submitBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 30px;
  scale: 1.5;
  color: #232323;
}

.backBtn > svg {
  flex: 1;
}

.viewContent {
  overflow: auto !important;
  padding: 25px 1.3rem;
  height: calc(100% - 70px);
  position: relative;
  & > h3 {
    outline: none;
    font-weight: 500;
    margin-bottom: 0.7rem;
  }
}
.edit {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  max-width: var(--max-width);
  height: 100%;
  z-index: 100000;
  cursor: default;
  pointer-events: none;
  .active {
    pointer-events: auto;
  }
  .loading {
    cursor: wait;
  }
}

.date {
  color: var(--date-text);
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  margin: 0.5rem 0;
}

.editDate {
  opacity: 0;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding: 10px 1.3rem;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  animation: fadeIn 0.2s 0.5s forwards ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
