@import url('https://fonts.googleapis.com/css?lang=en&family=Product+Sans|Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese');

.cardContainer {
  width                  : 100%;
  /* width               : 100vw;
  max-width              : var(--max-width); */
  text-align             : left;
  margin                 : 0 auto;
  position               : relative;
  transition             : all .3s ease-in-out;
  /* overflow            : hidden; */
  display                : flex;
  justify-content        : center;
  flex-wrap              : wrap;
  gap                    : 10px;
  text-align             : left;
  margin-top             : 65px;
  padding                : 1.3rem 0.9rem;
}


.card {
  background-color: var(--light-card);
  word-break      : break-word;
  flex-grow       : 1;
  border          : 1px solid var(--card-border);
  border-radius   : 13px;
  padding         : .5rem;
  cursor          : pointer;
  color           : inherit;
  white-space     : pre-wrap;
  transition      : all .2s ease-in-out, background-color 0s;
  width           : 35%;
  opacity         : 1;
}

.card {
  /* 
  word-break      : break-word;
  flex-grow       : 1;
  border          : 1px solid #bdbdbd;
  padding         : .5rem;
  cursor          : pointer;
  width           : 100%;
  color           : inherit;
  width           : 37%;
  white-space     : pre-wrap; */

  /* transform: scale(1); */
  /* position: relative; */
  /* transition: width 400ms ease , height 400ms ease , left cubic-bezier(0.4, 0, 0.2, 1) 420ms , top cubic-bezier(0.4, 0, 0.2, 1) 420ms; */
}

.card:focus-visible {
  outline       : 2px solid var(--main-color);
  outline-offset: 2px;
}

.card.active {
  /* width:100%; */
  /* height:100vh; */
  /* position: fixed; */
  opacity                  : 0;
  /* scale                 : 5; */
  /* scale                 : 2; */
  /* position              : relative;
  top                      :0;
  left                     :0; */
  /* transform             : translate(50%,50%); */
  /* transform-origin      : center  ; */
  /* transform-origin      : 50% 10%; */
  /* -webkit-line-clamp    : unset;
  word-break               : normal;
white-space                : pre-wrap;
height                     : 100vh;
position                   : fixed;
inset                      : 0;
margin                     : 0 auto;
z-index                    : 20000;
border                     :none; */
  /* width                 : 100vw; */
}

.positioned {
  /* opacity         : 0; */
  /* top          : 0; */
  /* left         : 0; */
}

/* .card.active { */
/* transform: scale(1.5); */
/* opacity            : 0; */

/* animation: fadein 1s ease-in-out; */

/* } */

/* .card.inactive { */
/*
  transform: scale(1); */
/* transition-delay: 1s; */
/* animation: fadein 1s ease-in-out; */

/* } */
/* -webkit-line-clamp : unset;
  overflow           : auto;
*/
.cardTitle {
  display       : flex;
  flex          : 1;
  border-bottom : 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom : 10px;
  font-weight   : 500;
  font-family   : "Google Sans", Roboto, Arial, sans-serif;
}

.card p:not(.date) {
  -webkit-line-clamp      : 6;
  overflow                : hidden;
  display                 : -webkit-box;
  -webkit-box-orient      : vertical;
  text-overflow           : ellipsis;
  font-family             : Roboto, Arial, sans-serif;
  /* color                : #4a4a4a; */
  color                   : var(--text-secondary);
  font-size               : 19px;
  /* white-space          : normal; */
}

.header>button {
  width              : 25px;
  height             : 25px;
  display            : flex;
  justify-content    : center;
  align-items        : center;
  border             : 0;
  border-radius      : 100px;
  padding            : 3px;
  background-color   : transparent;
  /* color           : var(--text-black); */
}

.header>button:not(.check) {
  color: var(--text-black);

}

.header>button:hover {
  background-color: var(--light-btn-hover);
}

.header>button:active {
  background-color: var(--light-btn-active);
  opacity         : .5;
}

.uncheck {
  background-color: transparent;
  scale           : 1.3;
  color           : rgb(202, 202, 202);
  color           : rgb(187, 187, 187);
}

.check {
  /* color           : green; */
  color           : var(--bright-green);
  background-color: rgb(59, 223, 59);
  background-color: rgb(97, 245, 97);
}

/* @media (hover: hover) and (pointer: fine) {
  .item {
    opacity: 0;
  }

  .card:hover .item {
    opacity: 1;
  }
} */

.viewContainer {
  /* visibility         : hidden;
  transform-origin   : 0 0;
  opacity            : 0; */
  /* height          : 100vh;
max-height           : 100%; */
  /* height          : stretch;
  height             : -webkit-fill-available; */
  /* height          : -webkit-fill-available;
  height             : fill-available; */
  /* height          : 100vh; */
  /* height          : 87vh; */
  /* height          : 100vh; */
  /* height          :100dvh; */
  display                        : flex;
  flex-direction                 : column;
  text-align                     : left;
  background-color               : var(--light-card);
  color                          : var(--text-black);
  max-width                      : var(--max-width);
  width                          : 100vw;
  min-height                     : -webkit-fill-available;
  margin                         : 0 auto;
  transform                      : translateX(var(--max-width));
  transition                     : all .4s ease-in-out, width 0s;
  /* transition                  : all 2s ease-in-out; */
  z-index                        : 100000;
  opacity                        : 0;
  visibility                     : hidden;
  pointer-events                 : initial;
  margin                         : 0 auto;
  /* outline                     : 1px solid red; */
  /* min-height                  : -webkit-fill-available; */
  /* transition                  : opacity 1s ease; */
}

.viewContainer.loading {
  pointer-events: none;
}

.viewContainer.active {
  transform : translateX(0px);
  opacity   : 1;
  visibility: visible;
}

.textarea {
  overflow: hidden;
  resize  : none;
}

.titleView:focus,
.textView:focus {
  outline: none;
}

.titleSpan,
.textSpan {
  position      : absolute;
  user-select   : none;
  pointer-events: none;
}

.header {
  display: flex;
  gap    : 10px;
}

.action {
  z-index         : 100;
  position        : absolute;
  display         : flex;
  flex-direction  : column;
  gap             : 6px;
  width           : 40%;
  transform-origin: top;
}

.action>button {
  padding         : 8px;
  background-color: white;
  font-size       : 1rem;
  border          : 0;
  border-radius   : 10px;
  box-shadow      : 0 0 8px 1px rgb(159 159 159 / 32%);
  transition      : all .19s ease-in-out;
}

.action>button:hover {
  padding         : 8px;
  background-color: rgb(221, 221, 221);
}

.action>button:active {
  background-color: rgb(91 231 145);
  scale           : .9;
}

.action>button {
  display    : flex;
  gap        : 5px;
  align-items: center;
  width      : 100%;
}

.deletBtn {
  background-color: red !important;
  background-color: red !important;
  color           : white;
}

.deletBtn:hover {
  background-color: rgb(255, 77, 77) !important;
}

.deletBtn:is(:active, :disabled) {
  background-color: rgb(255, 127, 127) !important;
  opacity         : 1 !important;
}

.titleSpan {
  font-size: 1.3em;
}

.viewHeader {
  padding        : 0 1.3rem;
  height         : 70px;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  border-bottom  : 2px solid var(--border-light);
}

.backBtn {
  cursor          : pointer;
  display         : flex;
  align-items     : center;
  width           : 30px;
  height          : 30px;
  background-color: red;
  scale           : 1.5;
  color           : var(--text-black);
}

.submitBtn {
  cursor     : pointer;
  display    : flex;
  align-items: center;
  width      : 30px;
  scale      : 1.5;
  color      : #232323;
}

.backBtn>svg {
  flex: 1;
}

.viewContent {
  overflow: auto !important;
  padding : 25px 1.3rem;
  height  : calc(100% - 70px);
  position: relative;
}

.viewContent>h3 {
  font-weight  : 500;
  margin-bottom: 0.7rem;
}

.edit {
  position         : fixed;
  overflow         : hidden;
  width            : 100vw;
  max-width        : var(--max-width);
  height           : 100%;
  z-index          : 100000;
  cursor           : default;
  pointer-events   : none;
  /* border        : 3px solid red !important;  */
}

.edit.active {
  pointer-events: auto;
}

.edit.loading {
  cursor: wait;
}

.date {
  color: var(--date-text);
  font-family: Roboto,
    Arial,
    sans-serif;
  font-size: 16px;
  margin   : .5rem 0;
}

.editDate {
  padding            : 10px 1.3rem;
  /* background-color: red; */
  font-size          : 16px;

  font-family: Roboto,
    Arial,
    sans-serif;
  animation      : fadeIn .2s .5s forwards ease-in-out;
  opacity        : 0;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}