@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese');

:root {
  --main-color    : rgb(8, 166, 60);
  --body-bg       : #cfd3d0;
  --btn-background: rgb(18, 170, 77);

  --text-secondary   : #414141;
  --light-card       : rgb(255, 255, 255);
  --text-black       : black;
  /* --border-light  : #efefef; */
  --border-light     : #f6f6f6;
  --card-border      : #bdbdbd;
  --btn-dark-green   : rgb(230 255 231);

  --light-btn-hover : #dcdcdc4a;
  --light-btn-active: gainsboro;
}

@media screen and (min-width: 486px) {

  /* @media screen and (min-width: 500px) { */
  html {
    margin-left : calc(100vw - 100%);
    margin-right: 0;
  }
}

/* .InputContainer.active body {
  overflow: hidden;
} */
/* .InputContainer:is(.active) body {
  overflow: hidden;
} */

/* :not(.viewContent) */

main {
  user-select              : none;
  min-height               : 100dvh;
  /* min-height            : -webkit-fill-available; */
  /* min-height            : -moz-available; */
  /* max-width             : 486px; */
  max-width                : 500px;
  width                    : 100vw;
  background-color         : white;
  display                  : flex;
  flex-direction           : column;
  /* overflow              : hidden; */
}

html[theme="dark"] main {
  background-color: var(--light-card);
  color           : white;
}

html[theme="dark"] {
  --body-bg         : #343434;
  --btn-dark-green  : rgb(230 255 231 / 8%);
  --light-card      : rgb(39, 39, 39);
  --text-black      : rgb(255, 255, 255);
  --border-light    : #efefef1a;
  --light-btn-hover : #dcdcdc4a;
  --light-btn-active: #5b5b5b;
  --card-border     : #464646;
  --text-secondary  : #9d9d9d;
}

#confirmModal {
  background: unset;
  border    : unset;
  margin    : 0 auto;
  min-height: 100dvh;
}

.confirmModal {
  background-color      : var(--light-card);
  color                 : var(--text-black) !important;
  padding               : 1rem;
  /* width              : 350px; */
  width                 : 300px;
  max-width             : 97vw;
  display               : flex;
  justify-content       : center;
  flex-direction        : column;
  gap                   : 1rem;
  border-radius         : 0.5rem;
  /* backdrop-filter    : blur(6px); */
  border                : 1px solid rgba(255, 255, 255, .3);
  box-shadow            : 0 4px 20px #6664;

  outline  : 0;
  position : fixed;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
  overflow : auto;
}

.confirmModal>p {
  font-weight: 500;
  font-size  : 1rem;
  text-align : center;
  user-select: none;
}

.confirmModal button {
  border          : 0;
  border-radius   : 0.5rem;
  font-size       : 18px;
  min-width       : 100px;
  user-select     : none;
  margin          : 0 5px;
  color           : var(--text-black) !important;
  padding         : 0.7rem !important;
  background-color: transparent !important;
}

.confirmModal button:hover {
  background-color: var(--btn-dark-green) !important;
  opacity         : 1 !important;
}

.confirmModal button:focus-visible {
  scale     : 1.05;
  transition: all .3s ease-in-out;
  outline   : 1px solid #19e062;

}

.confirmModal button:active {
  background-color: var(--btn-dark-green) !important;
  opacity         : .5 !important;
}

button:disabled {
  opacity: .5;
  cursor : not-allowed !important;
}

body {
  display         : flex;
  justify-content : center;
  background-color: var(--body-bg);
  text-align      : center;
  font-family     : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 22px;
}

header {
  position        : fixed;
  top             : 0;
  padding         : 0 1.2rem;
  height          : 70px;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  max-width       : 500px;
  width           : 100vw;
  gap             : .4rem;
  border-bottom   : 2px solid var(--border-light);
  z-index         : 999;
  transition      : opacity .4s ease-in-out;
  background-color: var(--light-card);
}

a {
  display        : block;
  text-decoration: none;
}

*,
*:before,
*:after {
  padding                    : 0;
  margin                     : 0;
  box-sizing                 : border-box;
  -webkit-tap-highlight-color: transparent;
}

button,
.backBtn,
.addBtn,
.searchCloseBtn {
  cursor: pointer;
}

.googleBtn button {
  padding         : .4rem 16px;
  text-align      : center;
  background-color: rgb(228, 228, 228) !important;
  border-radius   : 100px;
}

.backBtn {
  display      : flex;
  align-items  : center;
  width        : 30px;
  height       : 30px;
  border-radius: 100px;
  scale        : 1.5;
  color        : var(--text-black);
}

.backBtn:hover {
  background-color: var(--light-btn-hover);
  color           : var(--text-black);
}

.backBtn:active {
  opacity         : .6;
  background-color: var(--light-btn-active);
}

.backBtn>svg {
  flex: 1;
}

.addBtn {
  display         : flex;
  align-items     : center;
  width           : 90px;
  justify-content : center;
  color           : #19e062;
  background-color: transparent;
  border          : 0;
  outline         : 0;
  background-color: var(--btn-dark-green);
  padding         : 0.5rem;
  border-radius   : 0.5rem;
  font-family     : "Google Sans",
    Roboto,
    Arial,
    sans-serif;
  transition: all .3s ease-in-out, scale .1s ease-in-out;
}

.addBtn:hover {
  background-color: var(--btn-background);
  background-color: rgb(50 224 117);
  color           : white;
}

.addBtn:active {
  background-color: var(--btn-background);
  background-color: rgb(50 224 117);
  color           : white;
  opacity         : .5;
  scale           : .94;
}