@import url('https://fonts.googleapis.com/css?family=Google+Sans:400,500&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese');

:root {
  --main-color    : rgb(8, 166, 60);
  --btn-background: rgb(18, 170, 77);
}

#confirmModal {
  background: unset;
  border    : unset;
  margin    : 0 auto;
  min-height: 100dvh;
}

.confirmModal {
  background      : rgba(255, 255, 255, .01);
  background-color: white;
  padding         : 1rem;
  width           : 350px;
  max-width       : 97vw;
  display         : flex;
  justify-content : center;
  flex-direction  : column;
  gap             : 1rem;
  border-radius   : 0.5rem;
  backdrop-filter : blur(6px);
  border          : 1px solid rgba(255, 255, 255, .3);
  box-shadow      : 0 4px 20px #6664;

  outline  : 0;
  position : fixed;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
  overflow : auto;
}

.confirmModal>p {
  font-weight: 500;
  font-size  : 1rem;
  text-align : center;
  user-select: none;
}

.confirmModal button {
  border          : 0;
  border-radius   : 0.5rem;
  font-size       : 18px;
  min-width       : 100px;
  user-select     : none;
  margin          : 0 5px;
  color           : #000 !important;
  padding         : 0.7rem !important;
  background-color: transparent !important;
}

.confirmModal button:hover {
  background-color: rgba(179, 179, 179, 0.466) !important;
}

.confirmModal button:focus-visible {
  background-color : rgba(179, 179, 179, 0.466) !important;
  outline          : 1px solid #27272785;
  /* outline       : 2px solid #a5ffa5;
  outline-offset   : 5px;
  background       : #ccffcc !important; */
}

button:disabled {
  opacity: .5;
  cursor : not-allowed !important;
}

body {
  display            : flex;
  justify-content    : center;
  /* background-color: #ececec; */
  /* background-color: #a53838; */
  background-color   : #cfd3d0;
  text-align         : center;
  /* font-family     : Roboto,
Arial,
  sans-serif; */
  font-family        : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: "Google Sans",
Roboto,
Arial,
sans-serif; */
  font-size: 22px;
}

header {
  position        : fixed;
  top             : 0;
  background-color: white;
  padding         : 0 1.2rem;
  height          : 70px;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  max-width       : 500px;
  width           : 100vw;
  gap             : .4rem;
  border-bottom   : 2px solid #efefef;
  z-index         : 999;
  transition      : opacity .4s ease-in-out;
}

a {
  display        : block;
  text-decoration: none;
}

*,
*:before,
*:after {
  padding                    : 0;
  margin                     : 0;
  box-sizing                 : border-box;
  -webkit-tap-highlight-color: transparent;
}

button,
.searchCloseBtn {
  cursor: pointer;
}

.googleBtn button {
  padding         : .4rem 16px;
  text-align      : center;
  background-color: rgb(228, 228, 228) !important;
  border-radius   : 100px;
}

.backBtn {
  cursor       : pointer;
  display      : flex;
  align-items  : center;
  width        : 30px;
  height       : 30px;
  border-radius: 100px;
  scale        : 1.5;
  color        : #232323;
}

.backBtn:hover {
  background-color: rgba(218, 218, 218, 0.507);
  color           : #232323;
}

.backBtn:active {
  opacity         : .6;
  background-color: rgba(218, 218, 218, 0.507);
  color           : #232323;
}

.backBtn>svg {
  flex: 1;
}

.addBtn {
  cursor          : pointer;
  display         : flex;
  align-items     : center;
  width           : 90px;
  justify-content : center;
  color           : #19e062;
  background-color: transparent;
  border          : 0;
  outline         : 0;
  background-color: rgb(230 255 231);
  padding         : 0.5rem;
  border-radius   : 0.5rem;
  font-family     : 'Google Sans';
  transition      : all .3s ease-in-out, scale .1s ease-in-out;
}

.addBtn:hover {
  background-color: var(--btn-background);
  background-color: rgb(50 224 117);
  color           : white;
}

.addBtn:active {
  background-color: var(--btn-background);
  background-color: rgb(50 224 117);
  color           : white;
  opacity         : .5;
  scale           : .94;
}