.main {
  user-select        : none;
  min-height         : 100vh;
  /* min-height      : -webkit-fill-available; */
  /* min-height      : stretch; */
  /* min-height      : -moz-available; */
  /* max-width       : 483px; */
  max-width          : 500px;
  width              : 100vw;
  background-color   : white;
  display            : flex;
  flex-direction     : column;
  overflow           : hidden;
}

.headerContainer {
  background-color         : white;
  display                  : flex;
  justify-content          : space-between;
  align-items              : center;
  /* max-width             : 483px; */
  max-width                : 500px;
  width                    : 100vw;
  /* border-bottom         : 2px solid #efefef; */
  z-index                  : 999;
  transition               : opacity .4s ease-in-out;
}

.logo {
  cursor   : pointer;
  font-size: 34px;
}

.darkIcon {
  transform : translateY(0px);
  transition: all .3s ease-in-out;
}

.darkAnimation {
  transition: all .3s ease-in-out;
  transform : translateY(-45px);
}

.lightIcon {
  transform : translateY(-22px);
  transition: all .3s ease-in-out;
}

.lightAnimation {
  transition: all .3s ease-in-out;
  transform : translateY(45px);
}

.animateHeader {
  /* transform     : translateX(-500px); */
  opacity          : 0;
  /* visibility    : hidden; */
  /* pointer-events: none; */
}

.selectModal {
  display        : flex;
  flex           : 1;
  justify-content: space-between;
  align-items    : center;
}

.selectModal .left {
  display    : flex;
  align-items: center;
  gap        : 1rem;

}

.selectModal .left p {
  font-size: 1.5rem;
}

.selectModal .delete {
  padding         : 10px;
  border          : 0;
  border-radius   : 20px;
  background-color: #ffd9d9;
  color           : #fa3b3b;
}

.selectModal .delete:hover {
  background-color: #ff3f3f;
  color           : white;
}

.selectModal .delete:active {
  background-color: #ff3f3f;
  color           : white;
  opacity         : .5;
}

.selectModal .close {
  padding            : 10px;
  width              : 45px;
  height             : 45px;
  border             : 0;
  border-radius      : 20px;
  /* background-color: rgba(220, 220, 220, 0.521); */
}

.selectModal path {
  /* stroke: rgb(71, 71, 71) !important; */
  /* stroke: rgb(71, 71, 71) !important;  */
}

.selectModal .close:hover {
  background-color: gainsboro;
}

.selectModal .close:active {
  opacity         : .5;
  background-color: gainsboro;
}

.headerfloat {
  background-color: white;
  background-color: red;
  position        : sticky;
  z-index         : 1;
  top             : 0;
  max-width       : 450px;
  box-shadow      : rgba(0, 0, 0, .02) 0px 30px 30px, rgba(0, 0, 0, .03) 0px 0px 8px, rgba(0, 0, 0, .05) 0px 1px 0px;
}

.footer {
  display        : flex;
  flex           : 1;
  padding        : 2rem 0;
  border-top     : 1px solid #eaeaea;
  justify-content: center;
  align-items    : center;
}

.footer a {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-grow      : 1;
}

.title a {
  color          : #1ed317;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin     : 0;
  line-height: 1.15;
  font-size  : 4rem;
}

.title,
.description {
  text-align: center;
}

.btnArrow {
  cursor       : pointer;
  border       : none;
  font-size    : 2rem;
  width        : 140px;
  height       : 100px;
  box-shadow   : 20px 20px 60px #bebebe, -12px -30px 60px #ffffff;
  border-radius: 5px;
  color        : rgb(122, 122, 122);
}

.btnArrow:hover .iconArrow {
  animation-play-state: paused;
}

.iconArrow {
  animation           : arrow 2s cubic-bezier(0.88, 0.40, 0.52, 0.9) infinite;
  animation-play-state: running;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(9px);
  }

  100% {
    transform: translateX(0);
  }
}

.profile {
  border-radius: 50%;
  object-fit   : cover;
}

.description {
  margin     : 4rem 0;
  line-height: 1.5;
  font-size  : 1.5rem;
}

.code {
  background   : #fafafa;
  border-radius: 5px;
  padding      : 0.75rem;
  font-size    : 1.1rem;
  font-family  : Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display    : flex;
  max-width  : 800px;
  gap        : 20px;
  align-items: center;
}

.setting {
  z-index    : 100;
  /* position: absolute; 
  right      : 400px; */
  /* left    :300px; */
  /* right   :-170px; */

  /* outline            : 3px solid red; */
  /* position        : absolute;
  right              : 10px; */
  position : absolute;
  right    : 30px;
  width    : 100%;
  max-width: 300px;
}

.card,
.setting {
  /* border:3px solid red !important; */

  /* left    : 180px; */

  background-color          : rgb(255, 255, 255);
  padding                   : 1rem;
  text-align                : left;
  color                     : inherit;
  text-decoration           : none;
  border                    : 1px solid #eaeaea;
  border-radius             : 10px;
  font-size                 : 17px;
  transition                : color 0.15s ease, border-color 0.15s ease;
  box-shadow                : 0px 10px 20px rgba(0, 0, 0, .1);
  border                    : 1px solid #dfdfdf;
  /* outline                : 3px solid red; */
  /* max-width              : 500px; */
  /* margin-right           : 30px; */
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

.card h2 {
  margin   : 0 0 1rem 0;
  font-size: 1rem;
}

.card p {
  margin     : 0;
  font-size  : 1rem;
  line-height: 1.5;
}

.info {
  display          : flex;
  flex-direction   : column;
  /* gap           : .2rem; */
}

@media only screen and (min-width: 500px) {
  .tools button:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}



.tools button:hover {
  /* background-color: rgba(0, 0, 0, .1);
   */
  background-color: rgba(179, 179, 179, 0.466) !important;
  /* color        :red; */
}

.tools button:active {
  /* background-color: rgba(0, 0, 0, .1);
   */
  opacity         : .7;
  background-color: rgba(179, 179, 179, 0.432) !important;
  /* color        :red; */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
  }

}

.name {
  font-weight: 500;
  font-size  : 20px;
}

.mail {
  color: rgb(83, 83, 83)
}

.themeContainer>* {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.tools {
  margin-top    : 1.5em;
  display       : flex;
  flex-direction: column;
  gap           : 10px;

}

.tool {
  color: rgb(32, 32, 32);
}

.tool>* {
  height: 20px;
}

.tools button {
  cursor          : pointer;
  border          : none;
  outline         : none;
  background-color: transparent;
  width           : 100%;
}

.tool {
  /* line-height: 40px; */
  display         : flex;
  gap             : .5em;
  align-items     : center;
  padding         : 13px;
  overflow        : hidden;
  height          : 55px;
  font-size       : 20px;
  background-color: rgb(245, 245, 245) !important;
  border-radius   : 5px;
}

.mainProfile,
.searchCloseBtn,
.addBtn,
.closeBtn>svg {
  cursor: pointer;
}

.closeBtn {
  font-size       : 1.5em;
  display         : flex;
  justify-content : flex-end;
  margin-top      : -24px;
  position        : absolute;
  right           : 0;
  padding         : 0.4rem;
  transition      : all .1s ease-in-out;
  background-color: transparent;
  cursor          : pointer;
  border-radius   : 50px;
}

.closeBtn:hover {

  /* color           : rgb(87, 87, 87); */
  background-color: gainsboro;
}

.closeBtn:active {
  opacity            : .5;
  background-color   : gainsboro;
  /* color           : rgb(87, 87, 87); */
}

.searchBar {
  background-color: #eeeeee;
  height          : 2rem;
  padding         : .35em .85em;
  border-radius   : 26px;
  border          : none;
  display         : flex;
  align-items     : center;
  justify-content : center;
  max-width       : 193px;
}

.searchCloseBtn {
  opacity   : 1;
  visibility: visible;
}

.searchCloseBtnHide {
  opacity   : 0;
  visibility: hidden;
}

.searchInput {
  border          : none;
  background-color: transparent;
  outline         : none;
  width           : 100%;
  padding         : 12px 0;
}

.searchBar:focus-within {
  background   : rgb(255, 255, 255);
  box-shadow   : 0px 5px 10px #e9e9e9;
  /* outline   : 2px solid rgb(77, 216, 77); */
  outline      : 2px solid var(--main-color);

}

.signinBtn {
  text-decoration : none;
  border-radius   : 20px;
  padding         : 5px 9px;
  background-color: #1ed317;
  color           : rgb(255, 255, 255);
  display         : inline-block;
  position        : relative;
}

.loginWrapper a {
  color: #1ed317;
}

.loginWrapper a:hover {
  text-decoration: underline;
}

.loginWrapper a:active {
  color: #0ca307 !important;
}

.addBtn {
  bottom          : 30px;
  right           : 44px;
  transform       : scale(2.5);
  background-color: white;
  border-radius   : 10px;
}

.loginWrapper {
  margin-top     : 1rem;
  display        : flex;
  flex-direction : column;
  gap            : 1rem;
  display        : flex;
  flex-direction : column;
  gap            : 1rem;
  justify-content: center;
  /* align-items : center; */
  flex           : 1;
}

.loginWrapper h1 {
  position: absolute;
  top     : 25%;
  right   : 0;
  left    : 0;
}

.loginWrapper a {
  display: inline-block;
}

.loginWrapper>button {
  height:50px !important;
  /* border:3px solid red; */
  /* background-color   : rgb(0, 119, 255); */
  /* color              : white; */
  border-radius            : 7px;
  /* border                : 0; */
  /* padding               :2rem; */
  max-width                : 220px;
  min-height               : 40px;
  /* padding               : .7rem 16px; */
  padding                  : .4rem 16px;
  width                    : 100%;
  margin                   : 0 auto;
  cursor                   : pointer;
  border-radius            : 100px;
  transition               : all .3s ease-in-out;
  font-family              : Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
}

.loginWrapper>button:hover {
  color           : white;
  background-color: #1ed317;
}

.loginWrapper>button:active {
  color           : white;
  background-color: #24ae1f;
  opacity         : .8;
}

.loginWrapper>button:disabled {
  color           : white;
  background-color: #1ed317;
  cursor          : not-allowed;
}

.loginBtn {
  background-color   : transparent;
  border             : 1px solid rgb(0, 119, 255);
  color              : rgb(0, 119, 255);
  border             : 1px solid #1ed317;
  border             : 0;
  color              : #1ed317;
  background-color   : #1ed31730;
  display            : flex;
  justify-content    : flex-start;
  align-items        : center;
  gap                : 16px;
  /* padding         : 0.7rem 16px; */
}

.footerContainer {
  position          : fixed;
  bottom            : 0;
  /* min-width      : 500px; */
  max-width         : 500px;
  width             : 100vw;
  /* height         : 100vh; */
  /* height         : 6rem; */

  justify-content   : flex-end;
  justify-content   : center;
  z-index           : 10000;
  /* bottom         : 1rem; */
  /* left           :-40px; */
}

.addBtn {
  overflow        : hidden;
  /* position     : relative; */
  position        : absolute;
  width           : 30px;
  height          : 30px;
  /* bottom       : -700px;
right             : -200px; */
  transform-origin: right;

  /* transform: translateX(); */
  font-size          : inherit;
  /* bottom          : -2rem; */
  /* bottom          : -700px; */
  transition         : all .4s cubic-bezier(1, 0.05, 0, 0.94), background-color .6s ease-in-out, color 0s ease;
  /* background-color: rgb(41, 209, 117); */
  background-color   : var(--main-color);
  background-color   : var(--btn-background);
  border             : 0;
  /* rotate          : 0deg; */
}

.addBtn:focus-visible {
  outline: 1px solid black;
}

.addBtn.active:focus-visible {
  outline: none;
}

.addBtn.active {
  /* transition: all .4s  ease-in-out; */
  /* min-width: 200px; */
  /* animation       : animateBtn .3s ease-in-out; */
  width              : 40%;
  height             : 100vh;
  bottom             : 0;
  right              : 0;
  /* background-color: rgb(11, 114, 45); */
  background-color   : white;
  transition-delay   : .2s;
  color              : black;
  border-radius      : 0%;
  /* scale           :-1; */
  /* transition      : all .1s ease-in; */
}

.buttonText {
  display   : block;
  rotate    : 0deg;
  transform : translate(0px, 0px);
  color     : white;
  transition: all .7s cubic-bezier(1, 0.05, 0, 0.94);
}

.addBtn:is(.active) .buttonText {
  display                  : inline-block;
  /* rotate                : 45deg; */
  cursor                   : pointer;
  opacity                  : 0;
  transform                : translate(-70px, -130px);
  visibility               : hidden;
  user-select              : none;
  /* transition            : all .5s ease; */
  transition               : all .4s cubic-bezier(1, 0.05, 0, 0.94);
  transition-delay         : .1s;
  /* transition            : all .5s ease , opacity 1s ease; */
  /* rotate                : 360deg; */
  /* position              : relative;
  top                      :0; */
  /* transform             : translate(82px, -143px) rotate(calc(45deg*3)); */
  /* transform             : translate(-82px, -183px) rotate(calc(45deg*3)); */
  /* opacity               : 1; */
  /* animation             : fadeout 1s ease; */
  /* scale                 : 205; */
  /* transition-delay      : .3s; */
  /* scale                 : 15; */
  /* animation             : scaleup 1s ease-in-out; */
  /* transition            : all .6s ease-in-out; */
  /* transition            : all 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.addContainer {
  position        : fixed;
  inset           : 0;
  margin          : 0 auto;
  width           : 100vw;
  max-width       : 500px;
  min-height      : -webkit-fill-available;
  z-index         : 20;
  text-align      : left;
  /* overflow     : auto; */
  /* padding      : 0 1rem; */
  opacity         : 0;
  display         : none;
  transition      : opacity 1s ease;
}

.viewContent>p {
  color: #242424;
}

.viewContent>h3 {
  /* color:#242424; */
  font-weight: 500;
}

.titleSpan,
.textSpan {
  position      : absolute;
  user-select   : none;
  pointer-events: none;

}

.titleSpan {
  font-size: 1.3em;
}

.viewHeader {
  padding        : 0 1.3rem;
  height         : 70px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  border-bottom  : 2px solid #efefef;

}

.viewContent>h3 {
  margin-bottom: .7rem;
}

.viewContent {
  overflow: auto;
  padding : 25px 1.3rem;
  height  : calc(100% - 44px);
}


.addContainer.active {
  animation: fadein 1s ease-in-out;
  opacity  : 1;
  display  : block;
}

@keyframes fadein {
  0% {
    opacity: 0;
    display: none;
  }

  50% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes scaleup {
  50% {
    width   : 100%;
    height  : 100%;
    /* scale:0; */
  }

  100% {
    width   : 100%;
    height  : 100%;
    /* scale:15; */
  }
}

@keyframes animateBtn {
  /* 0% {

    width : auto;
    height: auto;
  } */

  /* 50% {

    width           : 20%;
    height          : 30vh;
    transition-delay: .2s;
  } */

  /* 100% {
    width : 40%;
    height: 100vh;
  } */
}