.cardContainer {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  text-align: left;
  padding: 0;
  max-width: 100%;

  /* border: 2px solid red; */
  /* justify-content: center; */
}
.card {
  /* width:100%; */
  word-break: break-all;
  flex-grow: 1;
  border: 1px solid rgb(163, 163, 163);
  /* border: 2px solid red; */
  border-radius: 20px;
  max-width: 40%;
  padding: 1em;
  cursor: pointer;
  /* cursor: pointer; */
  /* padding: 0 1.2em; */
  /* word-wrap: break-word; */
  /* width:50%; */
  /* flex:1; */
  /* flex-wrap: wrap; */
}
.card h5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom: 10px;
}
.cardTitle {
}


.viewContainer{
/* outline: 3px solid blue; */
display: flex;
justify-content: center;
flex-direction: column;
text-align: left;
gap:2em;
}
.titleInput{
max-width:70vw;
height:auto;

}
.textInput{
max-width:70vw;
height:100px;

}
.titleLabel{
  position: absolute;
  pointer-events: none;

}
.textarea{
  overflow: hidden;
  resize: none;
}
.backBtn {
font-size: 1.3em;
}


.backBtn {
  cursor: pointer;
}