.cardContainer {
  overflow       : hidden;
  list-style     : none;
  display        : flex;
  justify-content: center;
  flex-wrap      : wrap;
  gap            : 0.7em;
  text-align     : left;
  padding        : 0;
  margin-top     : 3.8rem;
  padding        : 1.3rem;
}

.card {
  background-color: rgb(255, 255, 255);
  word-break      : break-all;
  flex-grow       : 1;
  border          : 1px solid rgb(163, 163, 163);
  border-radius   : 20px;
  padding         : 1em;
  cursor          : pointer;
  width           : 100%;
  color           : inherit;
  width           : 37%;
}

.card h5 {
  border-bottom : 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom : 10px;
}

.viewContainer {
  height          : 87vh;
  display         : flex;
  flex-direction  : column;
  text-align      : left;
  gap             : 2em;
  backdrop-filter : blur(3px);
  background-color: white;
  width           : 100vw;
  padding         : 1.3rem;
}

.titleInput {
  max-width: 70vw;
  height   : auto;
}

.textInput {
  max-width: 70vw;
  height   : 100px;
}

.titleLabel {
  position      : absolute;
  pointer-events: none;
}

.textarea {
  overflow: hidden;
  resize  : none;
}

.backBtn {
  width    : 30px;
  font-size: 1.3em;
}

.textView {}

.titleView {}

.titleView,
.textView {
  outline: 3px solid red !important;
}

.backBtn {
  cursor: pointer;
}