.cardContainer {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .7em;
  text-align: left;
  padding: 0;
  
  
  /* border: 2px solid red; */
  /* justify-content: center; */
}
.card {
  /* width:100%; */
  background-color:rgb(255, 255, 255);
  word-break: break-all;
  flex-grow: 1;
  border: 1px solid rgb(163, 163, 163);
  /* border: 2px solid red; */
  border-radius: 20px;
  /* max-width: 150px;
  width:100%; */
  /* max-width: 40%; */
  padding: 1em;
  cursor: pointer;
  /* cursor: pointer; */
  /* padding: 0 1.2em; */
  /* word-wrap: break-word; */
  /* width:50%; */
  /* flex:1; */
  /* flex-wrap: wrap; */
  max-width:150px;
  width:100%;
}
.card h5 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom: 10px;
}
.cardTitle {
}


.viewContainer{
/* outline: 3px solid blue; */
display: flex;
justify-content: center;
align-items: cen;
flex-direction: column;
text-align: left;
gap:2em;
background-color: rgba(231, 0, 252, 0.301);
position: fixed;
/* top:0;

left:0; */
width:100%;
max-width: 500px;
height:50%;
/* padding:0; */
}
.titleInput{
max-width:70vw;
height:auto;

}
.textInput{
max-width:70vw;
height:100px;

}
.titleLabel{
  position: absolute;
  pointer-events: none;

}
.textarea{
  overflow: hidden;
  resize: none;
}
.backBtn {
  width: 30px;
font-size: 1.3em;
}


.backBtn {
  cursor: pointer;
}